[mysqld]

# 设置日志时区
log_timestamps = SYSTEM

# 慢查询开启状态
slow_query_log = on
# 日志存放的位置
slow_query_log_file =/var/lib/mysql-logs/slow.log
# 查询超过多少秒才记录
long_query_time = 1

# 开启 记录没有使用索引查询语句
log-queries-not-using-indexes
